<div class="row">
  <div class="col">
    <h1>Recipe list</h1>
  </div>
</div>
<form action="/change" method="POST">
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <% if @recipes.empty? %>
          <li class="list-group-item">No recipes saved.</li>
        <% else %>
          <% @recipes.each_with_index do |recipe, index| %>
          <label for="<%= index %>">
          <li class="list-group-item d-flex align-items-center">
              <input class="checkbox" type="checkbox" name="checked[]" value="<%= index %>" id="<%= index %>">
              <a href="/recipe/<%= index %>"><%= recipe.name %></a>
              <span class="ml-auto badge badge-primary badge-pill <%= recipe.difficulty.downcase %>"><%= recipe.difficulty %></span>
              <span class="badge badge-primary badge-pill"><%= recipe.prep_time %> mins</span>
              <span class="badge badge-primary badge-pill"><%= recipe.done? ? "Done!" : "Not done" %></span>
          </li>
          </label>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <button type="submit" name="action" value="mark" class="btn btn-primary">Mark as done</button>
      <button type="submit" name="action" value="delete" class="btn btn-outline-danger">Delete</button>
      <a href="/add" class="btn btn-primary">Add a new recipe</a>
    </div>
  </div>
</form>
<form action="/search_bbc">
  <div class="form-group">
    <label for="ingredient">Ingredient</label>
    <input type="text" name="ingredient" class="form-control" id="ingredient">
    <button type="submit" class="btn btn-outline-danger">Get BBC Recipes</button>
  </div>

</form>
