<div class="row">
  <div class="col">
    <h1>Recipe list</h1>
  </div>
</div>
<form action="import_recipe" method="POST">
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <% if @recipes.empty? %>
          <li class="list-group-item">No recipes found for <%= @ingredient %>.</li>
        <% else %>
          <% @recipes.each_with_index do |recipe, index| %>
          <label for="<%= index %>">
          <li class="list-group-item d-flex align-items-center">
              <input class="checkbox" type="checkbox" name="checked[]" value="<%= index %>" id="<%= index %>">
              <div>
              <h3><%= recipe.name %></h3>
              <p><%= recipe.description %></p>
              <span class="badge badge-primary badge-pill <%= recipe.difficulty.downcase %>"><%= recipe.difficulty %></span>
              <span class="badge badge-primary badge-pill"><%= recipe.prep_time %></span>
              </div>
          </li>
          </label>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <button type="submit" class="btn btn-primary">Add selected recipes</button>
    </div>
  </div>
</form>
